name: Crawler build test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test_for_crawler_build_on_Ubuntu:
    timeout-minutes: 25
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Run build
      run: |
        docker-compose -f "docker-compose.yml" up -d --build
